<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body{
background-image: url("https://www.clamart.fr/sites/default/files/styles/1280x768/public/AGENDA/AGENDA_g%C3%A9n%C3%A9rique/Don_Sang.jpg?itok=r0lgN6R8");

}
.w3-card-4{
background-color:white;
}
</style>
<body>
{{> headercentre}}
{{#loop}}
<div class="w3-container">
  <h2>{{nom}}</h2>

  <div class="w3-card-4" style="width:50%">
    <img src="http://www.mairie-chorges.fr/sites/communo-senso.com/files/styles/very_large/public/25/evenement/38357/don-sang-1024x1024.jpg?itok=62Mx6eJF" alt="Alps" style="width:100%">
    <div class="w3-container w3-center">
      <p>{{description}}</p>
      <p>{{date}}</p>
      <p>{{lieu}}</p>
      <p>{{codePostal}}</p>
    </div>
  </div>
</div>
 {{/loop}}
{{> footercentre}}
</body>
</html>
