<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
body {
 
  margin-top:-0px;
margin-left:-0px;
}

.m{
  background-color: #33BEFF;
 
}
#navbarDropdownMenuLink{
margin-left:500px;
}
.dropdown-menu{
margin-left:500px;

}

</style>
</head>
<body>
<div class ="m">
<nav class="navbar navbar-expand-lg navbar-light bg-red">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/maindonneur">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/oudonner">Où donner mon sang</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rendezvousdonneur">Prendre un rendez vous </a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/collecteavenir">Collecte à venir </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/eligible">Suis-je éligible </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Compte
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/profildonneur">Profil</a>
          <a class="" href="/logout">Se déconnecter</a>
         
        </div>
      </li>
    </ul>
  </div>
</nav>

</div>
</body>
</html>

