
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body{
background-image: url("https://images.assetsdelivery.com/compings_v2/vectorlab/vectorlab1905/vectorlab190500013.jpg");

}
h2{
margin-left:400px;
}
#s{

margin-left:400px;
margin-top:100px;
}
#b{
margin-left:400px;
}
.m{
margin-top:200px;
}
</style>
<body>


{{> headercentre}}

<h2>Choissisez votre evenement:</h2> 

<form action="/supprimerEvent" method="POST" class="needs-validation" novalidate>


<select id="s" name="s" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" class='form-control' required >
   <option selected disabled >Choisissez votre evenement</option>
   {{#loop}}
  <option  >{{nom}}</option>
  {{/loop}}
</select>

<p>
<a><button id="b" type="submit" class="btn btn-primary">Supprimer</button></a>
<p>

<div class="m">
{{> footercentre}}
</div>


</body>
</head>
</html>
